*{
    padding: 0;
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.container{
    max-width: 900px;
    margin: 0px auto;
}

.table{
    width: 100%;
    border-collapse: collapse;
}

.table>tbody>tr:nth-child(even){
    background-color: lightgray;
}

.table>tbody>tr>td{
    padding: 0px 5px;
}

.table>tbody>tr>td:first-child{
    text-align: center;
}
.table>tbody>tr>td:last-child{
    text-align: right;
}

.table>tbody>tr:hover{
    background-color: gray;
    cursor: pointer;
}

.thead-dark{
    background-color: #333;
    color: white;
}

.thead-dark th{
    padding: 10px 0px;
}
.avatar{
    width: 60px;
    height: 60px;
    border-radius: 50%;
}